.page {
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
  }
  
  
  .fade-enter {
    opacity: 0;
    z-index: 1;
  }
  
  .fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 300ms linear 150ms;
  }
  
  .fade-exit {
    opacity: 1;
  }
  
  .fade-exit-active {
    opacity: 0;
    transition: opacity 150ms linear ;
  }